*{
	padding: 0;
}
a{
	text-decoration: none;
}
@font-face{
	font-family: "Garamond";
	src: url("../font/Garamond.ttf");
}

body{
    width: 1950px;
    float: left;
    background: url("../img/top-glow.png") no-repeat;
    margin:0;
   
}
#header{
	padding-top: 15px;
	background: linear-gradient(to right,#111111, #1b1c1d);
	height: 110px;
	width: 100%;
	float: left;
}
#logo{
	float: left;
	width: 41%;
	background-image: url("../img/Logo.png");
	background-repeat: no-repeat;
	height: 100%;
	margin: 20px 20px 0px 20px;

}

#menu{
	width: 54%;
	height: 100%;
	float: left;
}
#search{
	height: 40%;
	float: right;
	width:25%;
	margin-right: 10px;
}
#search form{
	background-color: white;
	height: 19px;
	padding: 1px 2px;
	border-radius: 8px;
}
#search button{
	background: url(../img/searchicon.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 19%;
	float: left;
	border:none;
}
#search input{
	width:79%;
	border: none;
}
#menu-list{
	float:right;
	height: 60%;
	width: 100%;
	margin-right: 10px;
}
#menu-list ul{
	float: right;
	list-style: none;
	padding: 0;
}
#menu-list ul li{

	display: inline;
	margin-left: 10px;
}
#menu-list ul li:first-child{
	margin-left: 0px !important;
}
#menu-list ul li a{
	text-decoration: none;
	color: white;
	font-size: 13px;
}
#menu-list ul li a:hover{
	color: #b9b9b9;
}
#slider{
	height: 500px;
	float: left;
	width: 100%;
}
#image-container{
	height: 72%
}
#quote-social{
	background: #111213;
	height: 28%;
	padding-left: 30px;
}
#quote{
	float: left;
	width: 60%;
	padding: 10px 0px;

}
#quote p{
	font-family: Garamond;
	color: #a3a3a3;
	font-size: 29px;
}
.social{
	float: right;
	width: 33%;
}
.social-list{
	margin-top: 40px;
	text-decoration: none;
	padding-left: 20px;
}
.social-list li {
	display: inline;
	width: 20%;
	padding-left: 3px;
}
.social-list li a {
	height: 50px;
}
#news{
	float:left;
	width: 75%
}
#news li{
	float: left;
}
#news img{
	border: 2px solid #e9e9e9;
	border-width: 6px 8px 6px 8px;
}
#news p{
	color: #303030;
	font-family: Garamond;
}
#news h2{
	color: #303030;
	font-weight: normal;
	margin: 0;
}
#news-list{
	list-style: none;
	float: left;
}
.post-information{
	padding-top:25px;
	text-align: left;
	width: 91%;
}
.post-time{
	margin: 10px 0px 0px 0px;
	color: #549bc0 !important;
	font-size: 10px;

}
.post-content{
	margin-bottom: 18px;
}
.read-more{
	color: #E1E1E1;
	padding: 10px 40px;
	background: linear-gradient(to bottom, #6eb3d6,#45809e);
	text-decoration: none;
	font-family: "Helvetica Neue";
	border-radius: 3px;
	font-size:11px;
	width: 142px;
}
.read-more:hover{
	color:white;
}
#news-pages li:first-child{
	margin-left: 30px;
}
#news-pages li a{
	margin-left: 4px;
    color: #9A9DA1;
    background: #eee;
    padding: 5px 8px;
    font-size: 10px;
    font-family: "Verdana";
	text-decoration: none;
}
#news-pages li a:hover{
	color: white;
	background: #c1c1c1;
}
#news-pages li{
	display: inline;
}
#information-board{
	float: right;
	width: 25%;
	background: linear-gradient(to bottom, #e7e7e7, #fefefe);
}
#information-board p{
	color: #2F2F2F;
	font-family: Garamond;
	font-size:15px;
	margin: 0;
	line-height: 19px;
}
#information-board h2{
	color: #2F2F2F;
	font-family: Garamond;
	font-weight: normal;
}
#information-board a{
	color: #2c83b0;
	text-decoration: none;
	font-family: Garamond;
	font-size: 15px
}
#information-board div{
	margin-left: 20px;
	margin-top:45px;

}
.empty{
	height: 20px;
}
#shop{
	margin-bottom: 40px;
}
#scoreboard p:first-child{
	margin-bottom: 20px;
}
.image-container{
	float: left;
	margin: 30px;
	width: 150px;
}
.separator{
	background: url(../img/divider.png) no-repeat;
	height: 5px;
	margin-top: 35px;
}
.show-post{
	display: block;
}
.no-show-post{
	display: none;
}
#sponsors{
	float: left;
	padding: 30px;
	width: 100%;
}
#sponsors-title h2{
	color: #303030;
	font-weight: normal;
	margin: 0;
	font-family: Garamond;
}

#sponsors-list li{
	display: inline-block;
	margin-right: 12px;
}
#sponsors-list li img{
	width: 128px;
	height: 76px;
	border: 5px solid #fafafa;
}
#footer-wrap{
	float: left;
	background: #0f0f0f;
	padding-bottom: 40px;
	width: 100% !important;

}
#footer div{
	width: 27%;
	float: left;
	padding-top: 20px;
	padding-left: 30px;
}
#footer p{
	color: #6E6D6D;
	margin:0;
	font-family: "Georgia";
	line-height: 1.6;
	font-size: 13px;
}
#footer h2{
	color: white;
	font-weight: normal;
	font-family: Garamond;
}
#footer h4{
	color: white;
	font-weight: normal;
	font-family: Garamond;
}
#footer-about{
	width: 30% !important;
}

#about-quote{
	color: #909090 !important;
}
#flickr-stream li{
	display: inline-block;
	padding-bottom: 10px;
	padding-right: 3px;
}
#flickr-stream img{
	border: 1px solid #333333;
}

#footer-social-list{
	padding-left: 0px;
}
#footer-social-list li{
	padding-left: 0;
}
#container{
	float:left;
	width: 960px;
	padding-left: 259px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#footer{
	background: url(../img/footer-shadow.jpg) 50% 100% no-repeat transparent;
}

